[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
pylint = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
pywin32 = "*"
speechrecognition = "*"
pyttsx3 = "*"
pyaudio = "*"

[requires]
python_version = "3.6"
